.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

/* =========HEADER========== */

.header-title {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    display: flex;
    margin-right: 76px;
    text-decoration: none;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav current::after {
    text-decoration: underline;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.nav-logo-span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    line-height: 1.17;
}

.nav-logo-span:active {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
    line-height: 1.17;
}

.list-nav-link {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    list-style-type: none;
    width: 261px;
    position: relative;
}

.navlink {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2E2F42;
    padding: 24px 0;
    text-decoration: none;
    display: block;
    transition-property: border-bottom;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navlink:hover,
.navlink:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-items {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.address-link {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* */

/* ==========MAIN================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.effective,
.section-about,
.section-our-team,
.section-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ===========SECTION 1================= */
.effective {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/section-one-background.jpg);
}

.effective-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

.effective-button {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    cursor: pointer;
    line-height: 1.5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.effective-button:hover,
.effective-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================SECTION 2============= */
.about {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0;
}

.strategy-border-about,
.punctuality-border-about,
.diligence-border-about,
.technologies-border-about {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    width: 264px;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
}

.strategy-icon-about,
.punctuality-icon-about,
.diligence-icon-about,
.technologies-icon-about {
    margin: 24px 100px;
    display: block;
}

.about-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.about-list-item {
    width: calc((100% - 72px) / 4);
}

.about-p {
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ===============SECTION 3============= */
.section-our-team {
    background-color: #F4F4FD;
}

.our-team-items {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.our-team-list {
    background-color: #FFFFFF;
    flex-basis: 264px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-worker {
    padding: 32px 0;
}

.our-team-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-p {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
}

.our-team-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team-social {
    width: 40px;
    height: 40px;
}

.our-team-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link:hover,
.our-team-link:focus {
    color: #31d0aa;
    background-color: #404bbf;
}

/* ===============SECTION 4============== */
.our-portfolio {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.our-portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.our-portfolio-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
}

.our-portfolio-item {
    flex-basis: 360px;
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition-property: box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-image:hover,
.our-portfolio-image:focus {
    transform: translateY(100%);
}

.our-portfolio-item:hover,
.our-portfolio-item:focus {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.our-portfolio-image {
    position: relative;
    overflow: hidden;
}

.our-portfolio-name {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.our-portfolio-p {
    letter-spacing: 0.02em;
    line-height: 1.5;
}


/* ===========FOOTER============= */
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    align-items: baseline;
    display: flex;
}
.footer-items {
    margin-right: 120px;
}

.footer-logotype {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logotype:active,
.footer-logotype:hover {
    color: #404bbf;
}

.footer-logo-span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-span:active,
.footer-logo-span:hover {
    color: #404bbf;
}

.footer-p {
    letter-spacing: 0.02em;
    color: #F4F4FD;
    line-height: 1.5;
    width: 264px;
    margin-bottom: 16px;
}

.footer-icons {
    display: flex;
}

.footer-p-social {
    height: 40px;
    width: 40px;
}

.footer-icons {
    list-style-type: none;
    display: flex;
    gap: 16px;
    fill: currentColor;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    color: #31d0aa;
}
